./data
./cache
./cddd

.bash_history
.cache
.chembl_ws_client__0.10.2.sqlite
.cheminf_local_environment
.config
.cudf
.cupy
dask-worker-space
.flake8
.git
.gitignore
.ipynb_checkpoints
.ipython
.jupyter
.keras
.local
.npm
.nv
.pytest_cache
.python_history
.vscode
.cache_dir
