.cheminf_local_environment
.local
.config
.bash_history
.cache
.chembl_ws_client__0.10.2.sqlite
.ipynb_checkpoints
.ipython
.jupyter
.python_history
.cupy
.nv
.cudf/
.keras/
.vscode/
cddd/
.viminfo
.conda/
.gitconfig
.gnupg/
.pip/
.ssh/
.vscode-server/
.wget-hsts

__pycache__
dask-worker-space
.npm
.cache_dir
benchmark.csv
