.local
.config
.bash_history
.cache
.ipynb_checkpoints
.ipython
.jupyter
.python_history
.cupy
.nv
.cudf/
.keras/
.vscode/
.viminfo
.conda/
.gitconfig
.gnupg/
.pip/
.ssh/
.vscode-server/
.wget-hsts
.idea/
.venv/

__pycache__
dask-worker-space
.npm
.cache_dir
benchmark.csv
.env
outputs/
**/*.onnx
benchmark/csv_data/fp_*
data/
models/
cddd/
logs
*.code-workspace